.game > div {
    float: left;
    margin: 0 10px 0 0;
}

#west, #east {
    width: 512px;
    position: relative;
}

#nature > div {
    display: block;
    margin: 0 0 10px 0;
}

#nature > div > p {
    text-align: center;
}

canvas {
    z-index: 1;
}

.shade {
    width: 512px;
    height: 512px;
    background-color: black;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}