body {
    color: #5eab00;
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

button {
    background-color: black;
    border: 1px solid grey;
}

#intro, #game-over {
    text-align: center;
}

.game {
    width: 1173px;
    margin: 10px auto;
    text-align: center;
}

.game > div {
    float: left;
}

#west, #nature {
    margin: 0 10px 0 0;
}

#west, #east {
    width: 512px;
    position: relative;
}

#nature {
    width: 129px;
}

#nature > div {
    display: block;
    margin: 0 0 10px 0;
}

canvas {
    z-index: 1;
}

.shade {
    width: 512px;
    height: 512px;
    background-color: black;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.sun, #score {
    color: #ffba00;
}

.clouds {
    color: grey;
}

.winter {
    color: white;
}

#why {
    color: #ff3300;
}